---
layout: with-sidebar
slug: research
tags: [research interests, embodied and developmental cognition, applied artificial intelligence and robotics, human-robot interaction, embedded systems design, mechatronics, robotics, artificial intelligence, ai, research publication ethics, 
projects, scientific projects, freelance projects, robotDoC, IRMA, Autonomous Mobile Robot Research, crea conciencia, Grape Variety Identification]

title: Research
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<h3 class="sub-header" id="interests">Research Interests</h3>
{% include research/interests.html %}
<h3 class="id-header sub-header" id="scientific">Scientific Projects</h3>
{% include projs/overview-thumbnails.md param='research' %}
<h3 class="id-header sub-header" id="others">Other Projects</h3>
{% include projs/overview-thumbnails.md param='freelance' %}
