---
layout: fullwidth
slug: projects
tags: [projects overview, research projects, freelance projects, robotDoC, development of cognition, IRMA, Autonomous Mobile Robot Research, crea conciencia, Grape Variety Identification]

title: Projects
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<div class="container-fluid">
  <div class="col-md-12">
    <h3 class="sub-header">Research Projects</h3>
  </div>
  {% include projs/overview-thumbnails.md param='research' %}
</div><!-- container -->

<div class="container-fluid">
  <div class="col-md-12">
    <h3 class="sub-header">Other Projects</h3>
  </div>
  {% include projs/overview-thumbnails.md param='freelance' %}
</div><!-- container -->
