---
slug: research
tags: [research interests, embodied and developmental cognition, applied artificial intelligence and robotics, human-robot interaction, embedded systems design, mechatronics, robotics, artificial intelligence, ai, research publication ethics, 
projects, scientific projects, freelance projects, robotDoC, IRMA, Autonomous Mobile Robot Research, crea conciencia, Grape Variety Identification]

title: Research
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<p>My list of research interests is diverse; however, I believe that they are well aligned towards this holistic view of robot development for socially relevant challenges. My most direct research interests include</p>

{% include projects.html section='interests' %}


<h3 class="pt-5" id="scientific">Scientific Projects</h3>
{% include projects.html section='research' %}

<h3 class="pt-5" id="others">Other Projects</h3>
{% include projects.html section='nonscientific' %}

