# exclude
_site
.sass-cache
.directory
*~
*_

*template*

multimedia/*
teaching/theses/*.md

projects/*/*.png
projects/*/*.jpg
projects/*/*.jpeg
projects/*/*.gif
!projects/*/thumbnail*.png
!projects/*/thumbnail*.jpg
!projects/*/thumbnail*.jpeg
!projects/*/thumbnail*.gif

projects/template*.html

_posts/*welcome-to-jekyll*
