---
layout: two-columns
slug: about

column: [contact, photo]
tags: [about, electronic engineer, areas of interest, interest, robotics, embedded systems, mechatronics, applied artificial intelligence, automation systems, embodiment, embodied and developmental cognition, curriculum vitae, cv, resume, humanoid robots, collaborations, GnuPG Public Key, Computer Science, Electronic Engineering, Universidad Técnica Federico Santa María, Valparaíso, Chile, University of Hamburg, Hamburg, Germany]

title: About
author: Nicolás Navarro-Guerrero
---
<p>I am a roboticist focusing on the cognitive and AI aspects of robotics. His interest lies in understanding cognitive processes and their application to developing increasingly autonomous and safer interactive intelligent systems for industrial and assistive purposes.</p>
<!--more-->
<p>I received a degree in Electronic Engineering from the Universidad Técnica Federico Santa María, Valparaíso, Chile, in 2010. I specialised in embedded systems and applied artificial intelligence. In 2016 I completed a Ph.D. in Computer Science at the University of Hamburg (Germany). My Ph.D. research concerned computational models for adaptive robot behaviour based on neural mechanisms of self-preservation.</p>

<p>Since my electronic engineering studies, then working in the industry as student assistance in parallel to my studies and later as an engineer, I have been involved in automation and robotic projects. I have learned about both hardware and software development and developed my technical and scientific skill set. I enjoy the challenge of continually learning and developing custom automation and robotics solutions in dynamic and multidisciplinary environments.</p>

<!--<p>In my professional career, I have actively developed my hard and soft skills. Within my hard skills, I can include the development of printed circuit boards (PCBs) with Protel, Altium and Eagle Cad, production of PCBs, soldering of PCBs, worked on cleanrooms, and programming both modern computers as well as embedded devices such as microcontrollers, DSPs, PLCs and FPGAs. Within my soft skills, I have coordinated the mechatronic design of mobile robots for the difficult task of humanitarian demining. More recently, I have been leading the development of the API for a humanoid robot for human-robot interaction. I also have vast experience in applied robotics and automation research in Chile and Germany. I have proven experience in conceptualising project proposals for diverse funding agencies.</p>-->

<p class="text-center mt-4">Download my <a href="https://www.dropbox.com/scl/fi/yprzziedjayabq379heux/cv_en_nicolas_navarro-guerrero_a4_web-version.pdf?rlkey=3ee3855wav9qeqnlv4mgcp1a3&st=b6534u0o&dl=0" title="Download my CV in pdf">"Curriculum Vitae":</a><a href="https://www.dropbox.com/scl/fi/yprzziedjayabq379heux/cv_en_nicolas_navarro-guerrero_a4_web-version.pdf?rlkey=3ee3855wav9qeqnlv4mgcp1a3&st=b6534u0o&dl=0" title="Download my CV in pdf"> <i class="fas fa-file-pdf align-middle" style="font-size:48px;color:red;"></i></a></p>

<h4 class="mt-5" id="education">Education</h4>
{% include cv.html section='education' %}

<h4 class="mt-5" id="teaching">Pedagogical/Teacher Training</h4>
{% include cv.html section='teaching' %}

<h4 class="mt-5" id="ethics">Research Integrity Qualifications</h4>
{% include cv.html section='ethics' %}

<h4 class="mt-5" id="experience">Professional Experience</h4>
{% include cv.html section='experience' %}

<h4 class="mt-5" id="part-time">Interships and Part-Time Experience</h4>
{% include cv.html section='part-time' %}

<h4 class="mt-5" id="awards">Awards, and Fellowships</h4>
{% include cv.html section='awards' %}

<h4 class="mt-5" id="evaluation">Evaluation Committees</h4>
{% include cv.html section='evaluation' %}

<h4 class="mt-5" id="editorial">Editorial Work</h4>
<p>Ad-hoc reviewer of Journals, and Conference, see the detailed list of my verified reviews in Web Of Science <a href="https://www.webofscience.com/wos/author/record/1481323" target="_blank">https://www.webofscience.com/wos/author/record/1481323</a></p>
{% include cv.html section='editorial' %}

<h4 class="mt-5" id="affiliations">Affiliations</h4>
{% include cv.html section='affiliations' %}

<h4 class="mt-5" id="events">Organizing Committee of Scientific Events</h4>
<h5 class="mt-1" id="events-summer-schools">Summer Schools</h5>
{% include cv.html section='summer-schools' %}
<h5 class="mt-1" id="events-conferences">Conferences</h5>
{% include cv.html section='conferences' %}
<h5 class="mt-1" id="events-workshops">Workshops</h5>
{% include cv.html section='workshops' %}

<h4 class="mt-5" id="affiliations">Invited Talks</h4>
{% include publications.html section='talks' %}

<h4 class="mt-5" id="affiliations">Media Coverage and Activities</h4>
{% include publications.html section='media' %}
