---
title: Contact
slug: /contact/
tags: [contact, address, disclaimer, social networks, faq, GnuPG Public Key, website]
---

<div class="card mb-3 border-0">
  <img src="{{ '/assets/map-dfki-bremen.jpeg' | prepend: site.baseurl }}" class="card-img-top" alt="Map Deutschen Forschungszentrums für Künstliche Intelligenz (DFKI) GmbH – Bremen">
  <div class="card-body">
    <p class="card-text"><small class="text-muted"><a href="https://www.openstreetmap.org/?mlat=53.1119&mlon=8.8583#map=16/53.1119/8.8583" target="_blank">View Larger Map <i class="fas fa-external-link-alt"></i></a></small></p>
  </div>
</div>



<!-- -->
<div class="text-center">
    {% include contact-address.html %}
</div>


<!-- -->
<h3 class="mt-5 mb-5 text-center">Find Me Elsewhere</h3>
{% include contact-elsewhere.html %}


<!-- -->
<div class="card text-white bg-info mt-5 mb-5">
  <div class="card-header">
    <h5>Disclaimer</h5>
  </div>
  <div class="card-body">
    <p class="card-text">The author makes no warranty of any kind regarding the content of this website, including, but not limited to, any implied warranties of merchantability, or fitness for any particular purpose. The author of this website shall not be liable for errors contained in it, or for incidental or consequential damages in connection with the furnishing of, use of, or reliance upon information contained in this website.</p>
    <p class="card-text">Parts of the pages or the complete publication including all offers and information might be extended, changed or partly or completely deleted by the author without separate announcement.</p>
    <p class="card-text">Although every effort has been made to ensure that all information presented on this website is accurate, errors may still be present. If you notice any errors, please send me corrections via e-mail.</p>
  </div>
</div>

