---
layout: home
slug: home
tags: [robotics and automation research, R&D, R&D&i, ai, researcher, socially relevant challenges, embodied and developmental robotics, developmental cognition, publications, projects, research interests, multidisciplinary]

title: Home
subtitle: Robotics and AI Researcher
author: Nicolás Navarro-Guerrero
---
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% include photo.html param='275' %}
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
        {% include about.html %}
    </div>
</div><!-- row -->

<hr>
<h3><a href="/research#scientific">Recent Projects <span class="caret"></span></a></h3>
{% include projs/latest-projects.html param='3' %}

<div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4" >
        <a class="btn btn-primary btn-lg btn-block" href="/research" role="button">See All Projects <span class="caret"></span></a>
    </div>
</div><!-- row -->

<hr>
<h3><a href="/publications/">Latest Publications <span class="caret"></span></a></h3>
{% include pub/latest.html param='3' %}

<div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4" >
        <a class="btn btn-primary btn-lg btn-block" href="/publications" role="button">See All Publications <span class="caret"></span></a>
    </div>
</div><!-- row -->

<div hidden class="home">
  <h2 class="page-heading">News</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
