---
layout: home
slug: home
tags: [GnuPG Public Key, affiliation, overview, autonomous, embodiment, developmental cognition, publications, projects]

title: Home
author: Nicolás Navarro-Guerrero
---
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        {% include photo.html param='275' %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        {% include my-address.html %}
    </div>
</div><!-- row -->

<hr>
<h3><a href="/research#scientific">Recent Projects <span class="caret"></span></a></h3>
{% include projs/latest-projects.html param='3' %}

<hr>
<h3><a href="/publications/">Latest Publications <span class="caret"></span></a></h3>
{% include pub/latest.html param='3' %}

<div hidden class="home">
  <h2 class="page-heading">News</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
