---
layout: home
slug: home
tags: [robotics and automation research, R&D, R&D&i, ai, researcher, socially relevant challenges, embodied and developmental robotics, developmental cognition, publications, projects, research interests, multidisciplinary, news]

title: Home
subtitle: Robotics and AI Researcher
author: Nicolás Navarro-Guerrero
---
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% include photo.html param='275' %}
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
        {% include about.html %}
    </div>
</div><!-- row -->



<hr class="mt-5 mb-5">
{% include contact-elsewhere.html category='research' %}
{% include contact-elsewhere.html category='extras' %}



<hr class="mt-5 mb-5">
<h3><a href="/research#scientific">Recent Projects <span class="caret"></span></a></h3>
{% include projs/latest-projects.html param='3' %}

<a class="btn btn-primary btn-lg btn-block mt-5" href="{{ "/projects" | prepend: site.baseurl }}" role="button">See All Projects <span class="caret"></span></a>




<hr class="mt-5 mb-5">
<h3><a href="/publications/">Latest Publications <span class="caret"></span></a></h3>
{% include pub/latest.html param='3' %}

<a class="btn btn-primary btn-lg btn-block mt-5" href="{{ "/publications" | prepend: site.baseurl }}" role="button">See All Publications <span class="caret"></span></a>



<hr class="mt-5 mb-5">
<h2 class="pt-5"><a href="/news/">Latest News <span class="caret"></span></a><small class="text-muted"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"> <i class="fa fa-rss-square" style="color:#FF7F00"></i></a></small></h2>

{% include news.html latest=5 %}

<a class="btn btn-primary btn-lg btn-block mt-5" href="{{ "/news" | prepend: site.baseurl }}" role="button">See All News <span class="caret"></span></a>

