---
layout: fullwidth
slug: news

tags: [news, conference, workshop, special issue, paper, journal, outreach, talk, call for papers]

title: News
author: Nicolás Navarro-Guerrero
---
<h1>News</h1>
<ul class="media-list">
  {% for post in site.posts %}
  <hr>
  <li class="media">
    <div class="media-body">
      <h2 class="post"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <h3>{{ post.subtitle }}</h3>
      <p>{{ post.date | date_to_string }} | {% for tag in post.tags %}{{ tag | upcase }}, {% endfor %} </p>
      <p>{{ post.excerpt }}</p>
    </div>
    <div class="hidden-xs media-right">
      <img class="media-object img-rounded post-thumbs" src="{% if post.thumbnail != null %}{{ post.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" alt="">
    </div>
  </li>
  {% endfor %}
</ul>

