---
layout: with-sidebar
tags: [thesis offers, teaching, supervised theses, thesis template]
slug: teaching/theses

title: Teaching
subtitle: Thesis Offers
author: Nicolás Navarro-Guerrero
---
{% include teaching/thesis-supervision-statement.html %}
{% include teaching/thesis-resources.html %}

<h3 class="id-header sub-header" id="offers">Thesis Offers</h3>
<p><a href="https://www.informatik.uni-hamburg.de/WTM/teaching/suggested_topics_titles.shtml">Please check the thesis offers from the Knowledge Technology Group,</a> or contact me if you are interested in doing a research project with me. A few tentative thesis topics I am currently interested in supervising are:</p>

<h4>Machine Learning</h4>
<ul>
    <li>Inverse kinematics learning</li>
    <li>Multimodal object recognition</li>
    <li>Reinforcement learning</li>
    <li>Echo state networks (reservoir computing)</li>
</ul>

<h4>Engineering</h4>
<ul>
    <li>Tactile sensing (digital signal processing)</li>
</ul>

<!--
<ul class="media-list" style="padding-top: 10px;">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ...
    </div>
  </li>
</ul>
-->

<h3 class="id-header sub-header" id="supervised">Supervised Theses</h3>
{% include teaching/supervised-theses.html %}
