---
layout: with-sidebar
slug: publications/chronological
tags: [journals, proceedings, conferences, symposium, posters, abstracts, chapters, books, reports, talks, keynotes, technical reports, chronological, pdf, bibtex, doi, conference, ijcnn, ieee, springer, copyright, reinforcement learning, humanoid robot, special session, development of cognition, pre-prints, slides, source code, adaptive behaviors, behavior, epigenetic robotics, icdl, autonomous, lncs, genetic algorithms, neural networks, Marie-Curie researchers, research ids]

title: Publications
subtitle: Chronological List
author: Nicolás Navarro-Guerrero
---
{% include publications.html param='intro' %}

<p style="margin-top:30px;"></p>
<ul class="media-list">
  {% for papers in site.publications reversed %}
    {% unless papers.categories contains 'template' %}
      {% include pub/as-media.html param=papers %}
    {% endunless %}
  {% endfor %}
</ul>

{% include pub/research.ids.html %}
{% include publications.html param='copyright' %}
