<ul class="nav nav-sidebar">
  <div class="list-group">
    <a href="/publications" class="list-group-item">Chronological</a>
    <a href="/publications/by-type#journal" class="list-group-item">Journals</a>
<!--     <a href="/publications/by-type#chapter" class="list-group-item">Chapters</a> -->
    <a href="/publications/by-type#conference" class="list-group-item">Conferences</a>
    <a href="/publications/by-type#abstract" class="list-group-item">Abstracts</a>
    <a href="/publications/by-type#report" class="list-group-item">Technical Reports</a>
    <a href="/publications/by-type#talk" class="list-group-item">Invited Talks</a>
  </div>
</ul>
