<!-- <ul class="nav nav-sidebar">
  <li {% if page.slug == 'research' %} class="active"{% endif %}><a href="/research" title="Research">Overview</a></li>
</ul> -->

<ul class="nav nav-sidebar">
  <li {% if page.slug contains 'research-interests' %} class="active"{% endif %}><a href="/research" title="Research Interests">Research Interests</a></li>
</ul>

<ul class="nav nav-sidebar">
  <li {% if page.slug contains 'ethics' %} class="active"{% endif %}><a href="/research#ethics" title="Ethics">Ethics</a></li>
</ul>

<ul class="nav nav-sidebar">
  <li {% if page.slug contains 'projects' %} class="active"{% endif %}><a href="/research#scientific" title="Projects">Projects</a></li>
  <div class="list-group">
    <a href="/research#scientific" class="list-group-item">Scientific Projects</a>
    <a href="/research#others" class="list-group-item">Others Projects</a>
  </div>
</ul>

