{% if include.param == 1 or include.param == '1' or include.param == '01' or include.param == 'Jan' or include.param == 'January' or include.param == 'jan' or include.param == 'january' %}
    Jan
{% endif %}

{% if include.param == 2 or include.param == '2' or include.param == '02' or include.param == 'Feb' or include.param == 'February' or include.param == 'feb' or include.param == 'february' %}
    Feb
{% endif %}

{% if include.param == 3 or include.param == '4' or include.param == '03' or include.param == 'Mar' or include.param == 'March' or include.param == 'mar' or include.param == 'march' %}
    Mar
{% endif %}

{% if include.param == 4 or include.param == '4' or include.param == '04' or include.param == 'Apr' or include.param == 'April' or include.param == 'apr' or include.param == 'april' %}
    Apr
{% endif %}

{% if include.param == 5 or include.param == '5' or include.param == '05' or include.param == 'May' or include.param == 'may'%}
    May
{% endif %}

{% if include.param == 6 or include.param == '6' or include.param == '06' or include.param == 'Jun' or include.param == 'June' or include.param == 'jun' or include.param == 'june' %}
    Jun
{% endif %}

{% if include.param == 7 or include.param == '7' or include.param == '07' or include.param == 'Jul' or include.param == 'July' or include.param == 'jul' or include.param == 'july' %}
    Jul
{% endif %}

{% if include.param == 8 or include.param == '8' or include.param == '08' or include.param == 'Aug' or include.param == 'August' or include.param == 'aug' or include.param == 'august' %}
    Aug
{% endif %}

{% if include.param == 9 or include.param == '9' or include.param == '09' or include.param == 'Sep' or include.param == 'September' or include.param == 'sep' or include.param == 'september' %}
    Sep
{% endif %}

{% if include.param == 10 or include.param == '10' or include.param == 'Oct' or include.param == 'October' or include.param == 'oct' or include.param == 'october' %}
    Oct
{% endif %}

{% if include.param == 11 or include.param == '11' or include.param == 'Nov' or include.param == 'November' or include.param == 'nov' or include.param == 'november' %}
    Nov
{% endif %}

{% if include.param == 12 or include.param == '12' or include.param == 'Dec' or include.param == 'December' or include.param == 'dec' or include.param == 'december' %}
    Dec
{% endif %}
