<p>I am a robotics and artificial intelligence researcher with a passion for applied robotics and automation research. I am particularly interested in academic/industrial partnerships for the development of knowledge-intensive R&D solutions for socially relevant challenges including welfare, agriculture, disaster relief and humanitarian demining.</p>

<p>I have always advocated for a holistic development of robots, i.e. considering both hardware, software alike, which I believe perfectly aligns with the concepts of embodied and developmental robotics. Further, I also believe that robotic development should be human-centric fully embracing its impact on society and the environment. Taking all of this into consideration, I regard robotics a highly multidisciplinary endeavour which requires not only engineers from different disciplines but also natural sciences and humanities.</p>

<p>My list of research interests is diverse; however, I believe that they are well aligned towards this holistic view of robot development for socially relevant challenges. My most direct research interests include</p>

{% include projects.html section='interests' %}

