<h3 class="mt-5">Nicolás Navarro-Guerrero</h3>
<h4>Assistant Professor<br>Department of Electrical and Computer Engineering</h4>

<address>
  <br>
  Aarhus University<br>
  Finlandsgade 22<br>
  building 5125<br>
  8200 Aarhus, Denmark<br>
<!--  <br>
  Phone: +49 40 000 00 0000<br> -->
</address>

<address>
  <a href="mailto:nng@ece.au.dk">nng@ece.au.dk</a><br>
    <a href="https://eng.au.dk/en/cognitive-and-developmental-robotics/" target="_blank">https://eng.au.dk/en/cognitive-and-developmental-robotics/</a><br>
  <a href="https://socialrobotics.au.dk/" target="_blank">https://socialrobotics.au.dk/</a>
<!--  <br>
  <a href="https://pgp.key-server.io/search/nicolas+navarro+guerrero" target="_blank">GnuPG Public Key</a><br>
  Fingerprint:<br>
  <pre><code>9AA6 2A3A 2A7F A67A 799A  BD76 7095 029B 3D75 2EFD</code></pre> -->
</address>

