{% assign size = '60px' %}
{% assign handle = include.category | downcase | default: 'all' %}
{% assign account = include.account | downcase | default: 'all' %}

{% for category in site.data.elsewhere %}
  {% assign tmp = category.name | downcase %}
  {% if tmp contains handle or handle == 'all' %}
      {% for item in category.subitems %}
        {% assign name = item.name | downcase %}
        {% if name contains account or account == 'all' %}
        <div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center mb-4"
               style="width: 60px; height: 60px; border-radius: 10px; background-color: #ffffff; transition: all 0.3s ease;"
               onmouseover="this.style.transform='scale(1.1)'; this.querySelector('.hover-text').style.display='block';"
               onmouseout="this.style.transform='scale(1)'; this.querySelector('.hover-text').style.display='none';">
            
            {% if item.icon contains "<i class=" %}
              <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank" 
                 class="text-dark d-inline-block " style="font-size: {{ size }};">
                {{ item.icon }}
              </a>
            {% else %}
              <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank">
                <img src="{{ item.icon }}" alt="{{ item.name }}" 
                     style="width: {{ size }}; height: {{ size }};">
              </a>
            {% endif %}
          
            <div class="hover-text" style="display: none; border-radius: 5px;background-color: #ffffff; position: absolute; top: 80%; left: 50%; transform: translateX(-50%); width: auto; height: auto; white-space: nowrap;"">
              <span style="color:black;">{{item.name}}</span>
            </div>
            
          </div>
        </div>
        {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}

