<h3 class="mt-5">Nicolás Navarro-Guerrero</h3>
<h4>Senior Researcher<br>German Research Center for Artificial Intelligence GmbH</h4>

<address>
  <br>
<!--  German Research Center for Artificial Intelligence GmbH<br> -->
  Deutschen Forschungszentrums für Künstliche Intelligenz (DFKI) GmbH<br>
  Robotics Innovation Center<br>
  Robert-Hooke-Straße 5<br>
  28359 Bremen, Germany<br>
<!--  <br>
  Phone: +49 40 000 00 0000<br> -->
</address>

<address>
  <a href="mailto:Nicolas.Navarro@dfki.de">Nicolas.Navarro@dfki.de</a><br>
    <a href="https://robotik.dfki-bremen.de/de/" target="_blank">https://robotik.dfki-bremen.de/de/</a>
<!--  <br>
  <a href="https://pgp.key-server.io/search/nicolas+navarro+guerrero" target="_blank">GnuPG Public Key</a><br>
  Fingerprint:<br>
  <pre><code>9AA6 2A3A 2A7F A67A 799A  BD76 7095 029B 3D75 2EFD</code></pre> -->
</address>

