<h3 class="mt-5">Nicolás Navarro-Guerrero</h3>
<h4>CTO<br></h4>

<address>
  <br>
  Nibotics® GmbH<br>
  Marianne-Brandt-Straße 1<br>
  80807 Munich<br>
  Germany<br>
<!--  <br>
  Phone: +49 40 000 00 0000<br> -->
</address>

<address>
  <a href="mailto:nicolas.navarro@nibotics.com">nicolas.navarro@nibotics.com</a><br>
    <a href="https://nibotics.com/" target="_blank">https://nibotics.com/</a>
<!--  <br>
  <a href="https://pgp.key-server.io/search/nicolas+navarro+guerrero" target="_blank">GnuPG Public Key</a><br>
  Fingerprint:<br>
  <pre><code>9AA6 2A3A 2A7F A67A 799A  BD76 7095 029B 3D75 2EFD</code></pre> -->
</address>

