{% assign handle = include.param | downcase | default: 'all' %}
{% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
{% assign nowunix = nowunix | plus: 0 %}  <!-- cast as number -->
{% assign month = 2592000 %}
{% assign year = 31104000 %}

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th>Semester</th>
        <th>Institution</th>
        <th>Level</th>
        <th>Format</th>
        <th>Name</th>
        <th>Teachers</th>
      </tr>
    </thead>

    <tbody>
      {% for item in site.courses reversed %}
        {% assign print = 'no' %}
        {% capture tmp %}{{ item.date | date: '%s' }}{% endcapture %}
        {% assign tmp = tmp | plus: year %} <!-- cast as number -->

        {% if handle == "recent" and tmp >= nowunix %}
          {% assign print = 'yes' %}
        {% elsif handle == "past" and tmp <= nowunix %}
          {% assign print = 'yes' %}
        {% elsif handle == "all" %}
          {% assign print = 'yes' %}
        {% endif %}

        {% if print == "yes" %}
          <tr>
            <td>{{ item.semester }}</td>
            <td>{{ item.institution }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.teachers }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div><!-- table-responsive -->
