<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %} » {% endif %}{{ site.title }}</title>

<meta name="author" content="{{ page.author }}">
<meta name="description" content="{{ site.description }} This page includes content related to {% for tag in page.tags %}{{ tag }}, {% endfor %} github, code, creative commons, license, robot, robotics, research, home, publications, projects, teaching, courses, thesis, media, videos, outreach, about, contact, Nicolas Navarro, Nicol&aacute;s Navarro, Nicolas Navarro-Guerrero, Nicolas Navarro Guerrero, nng.">

<link rel="icon" href="/initials-nng.png" type="image/png">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ "/dist/css/bootstrap.min.css" | prepend: site.baseurl }}">

<!-- Bootstrap theme -->
<link href="{{ "/dist/css/bootstrap-theme.min.css" | prepend: site.baseurl }}" rel="stylesheet">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
<style>
  body {
    padding-top: 100px;
  }
</style>
