<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %} » {% endif %}{{ site.title }}</title>

<meta name="author" content="{{ page.author }}">
<meta name="description" content="{{ site.description }} This page includes content related to {% for tag in page.tags %}{{ tag }}, {% endfor %} gitlab, github, code, scholar, google scholar, googlescholar, robot, robotics, research, publications, projects, datasets, teaching, courses, thesis, media, videos, outreach, about, contact.">

<link rel="shortcut icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" type="image/png">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<!-- FontAwesome  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
  body {
    padding-top: 80px;
    max-width: 960px;
    margin: auto;
  }

  @media (max-width: 647px) {
    body {
      padding-top: 120px; 
    }
  }
</style>

