<h3 class="sub-header" style="text-align:center;">Nicolás Navarro-Guerrero</h3>
<h4 style="text-align:center;">Research and Teaching Associate</h4>
<address style="text-align:center;">
  <strong>Knowledge Technology Group</strong><br>
  University of Hamburg<br>
  Department of Computer Science<br>
  Vogt-Koelln-Str. 30<br>
  22527 Hamburg, Germany<br>
  <br>
  Phone: +49 40 428 83 2530<br>
  Fax:   +49 40 428 83 2515
</address>

<address style="text-align:center;">
  <a href="mailto:navarro@informatik.uni-hamburg.de">navarro at informatik.uni-hamburg.de</a>
  <br>
  <a href="https://www.informatik.uni-hamburg.de/~navarro/0x3D752EFD-pub.asc">GnuPG Public Key</a>
  Fingerprint<br>
  <pre><code>9AA6 2A3A 2A7F A67A 799A  BD76 7095 029B 3D75 2EFD</code></pre>
</address>
