<h3 class="sub-header" style="text-align:center;">Nicolás Navarro-Guerrero</h3>
<h4 style="text-align:center;">Assistant Professor</h4>
<address style="text-align:center;">
  <strong>Department of Engineering</strong><br>
  Aarhus University<br>
  Finlandsgade 22<br>
  building 5125<br>
  8200 Aarhus, Denmark<br>
<!--  <br>
  Phone: +49 40 428 83 2530<br>
  Fax:   +49 40 428 83 2515 -->
</address>

<address style="text-align:center;">
  <a href="mailto:nng@eng.au.dk">nng@eng.au.dk</a><br>
  <a href="https://au.dk/en/nng@eng.au.dk" target="_blank">https://au.dk/en/nng@eng.au.dk</a>
<!--  <br>
  <a href="https://www.informatik.uni-hamburg.de/~navarro/0x3D752EFD-pub.asc">GnuPG Public Key</a><br>
  Fingerprint:<br>
  <pre><code>9AA6 2A3A 2A7F A67A 799A  BD76 7095 029B 3D75 2EFD</code></pre> -->
</address>
