<h3 class="sub-header" style="text-align:center;">Nicolás Navarro-Guerrero</h3>
<h4 style="text-align:center;">Marie Curie Early Stage Researcher</h4>
<address style="text-align:center;">
  <strong>Knowledge Technology Group</strong><br>
  University of Hamburg<br>
  Department of Computer Science<br>
  Vogt-Koelln-Str. 30<br>
  22527 Hamburg, Germany<br>
  <br>
  Phone: +49 40 428 83 2530<br>
  Fax:   +49 40 428 83 2515
</address>

<address style="text-align:center;">
  <a href="mailto:navarro@informatik.uni-hamburg.de">navarro at informatik.uni-hamburg.de</a>
  <br>
  <a href="https://www.informatik.uni-hamburg.de/~navarro/0x7E3E6CB2.asc"> 	GnuPG Public Key</a>
</address>
