<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="{{ site.baseurl | append: '/' }}"><strong>{{ site.brand }}</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation %}
          {% if item.submenuitems %}
            <li {% if page.url contains item.id %}
                  class="nav-item dropdown active">
                {% else %}
                  class="nav-item dropdown">
                {% endif %}
              <a class="nav-link dropdown-toggle" href="#" id="{{ item.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ item.id }}">
              {% for submenu in item.submenuitems %}
                <a {% if page.url contains submenu.slug %}
                     class="dropdown-item active"
                   {% else %}
                     class="dropdown-item"
                   {% endif %}
                   href="{{ submenu.slug | prepend: site.baseurl }}">{{ submenu.name }}</a>
              {% endfor %}
            </div>
            </li>
          {% else %}
            <li {% if page.url contains item.slug %}
                  class="nav-item active" 
                {% else %}
                  class="nav-item" 
                {% endif %}>
                <a class="nav-link" href="{{ item.slug | prepend: site.baseurl }}" title="{{ item.name }}">{{ item.name }}
                {% if page.slug == item.name %}
                  <span class="sr-only">(current)</span>
                {% endif %}
                </a></li>
          {% endif %}
        {% endfor %}
      </ul>
  </div><!-- collapse -->
  </div><!-- container -->
</nav><!-- navbar -->

