{% assign section = include.section | downcase | default: '' %}
{% assign latest = include.latest | default: -1 %}
{% assign page = include.page %}

{% assign image_folder = "assets/img" | append: page.slug %}
{% assign images = site.static_files | where_exp: "file", "file.path contains image_folder" %}



{% if section contains 'acknowledgment' %}
  {% if page.acknowledgment != null %}
    <h3 class="pt-4">Acknowledgments:</h3>
    {{ page.acknowledgment }}
  {% endif %}
{% elsif section contains 'interests' %}
<ul>
  <li>Human-Centered Robotics</li>
  <li>Human-Robot Collaboration</li>
  <li>Assistive Robotics</li>
  <li>Service Robots</li>
  <li>Cognitive Systems</li>
  <li>Cognitive Robotics</li>
  <li>Neurorobotics</li>
  <li>Autonomous and Intelligent Systems</li>
  <li>Bio-inspired Perceptual Systems & Signal Processing</li>
</ul>

{% elsif section contains 'partners' %}
  {% if page.partners.size>0 %}
    <h3 class="pt-4">Project Partners:</h3>
    <ul>
      {% for partner in page.partners %}
        {% if partner.link != null%}
        <li class="pb-2"><a href="{{ partner.link }}" target="_blank">{{ partner.name }}</a></li>
        {% else %}
        <li class="pb-2">{{ partner.name }}</li>
        {%endif%}
      {% endfor %}
    </ul>
  {% endif %}
{% elsif section contains 'sponsors' %}
  {% if page.sponsors != null %}
    <h3 class="pt-2">Grants and Sponsors:</h3>
    {{ page.sponsors }}
  {% endif %}



{% elsif section contains 'metadata' %}

{% if page.thumbnail != null %}
<div class="w-100 p-2" style="background-color: #ffffffe9; border-radius: 5px 5px 0 0; height: auto; width: auto;">
  <div class="col-lg-4 m-5 w-75 svg">
    <img class="w-100" src="{{page.thumbnail}}">
  </div>
</div>
{% endif %}
<div class="card mb-3">
  <div class="row g-0 d-flex justify-content-center align-items-center">
    <div class="col-lg-8 mt-3 w-100">
      <div class="card-header border-light "><h5 class="card-title text-center">{{ page.title }}
        <small class="text-muted text-center">{{ page.subtitle }}</small></h5></div>
      <div class="card-body">
        {% if page.coordinator != null %}
          <p class="card-text"><strong>Coordinator (PI): </strong>{{ page.coordinator }}</p>
        {% endif %}
        {% if page.staff != null %}
          <p class="card-text"><strong>Contributors:</strong> {{ page.staff }}</p>
        {% endif %}
        <p><strong>Start Date: </strong>{% include date-formatting.html date=page.date fmt='string' %}</p>
        <p><strong>End Date: </strong>{% include date-formatting.html date=page.enddate fmt='string' %}</p>
        {% if page.funded != null %}
          <p><strong>Funded by </strong>{{ page.funded }}</p>
          {% if page.grant %}
            <p><strong>Project Code or Grant Number: </strong>{{ page.grant }}</p>
          {% endif %}
        {% endif %}
      </div>
    </div><!-- row 8 -->
  </div><!-- row -->
</div><!-- card -->





{% elsif section contains 'publications' %}
  {% if page.relatedpapers.size != 0 %}
    <h3 class="pt-5">Related Publications:</h3>
    <ol>
      {% for papers in site.publications reversed %}
        {% if  page.relatedpapers contains papers.citation.bibtex%}
          <li style="padding-bottom:15px;">
            {% include publications-citation-style.html param=papers %}
          </li>
        {% endif %}
      {% endfor %}
      {% for papers in site.pub-collaborations reversed %}
        {% if  page.relatedpapers contains papers.citation.bibtex%}
          <li style="padding-bottom:15px;">
            {% include publications-citation-style.html param=papers %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}
  {% if page.relatedmedia.size > 0 %}
    <h3 class="pt-5">Related Media:</h3>
    <ol>
      {% for media in site.media reversed %}
        {% if  page.relatedmedia contains media.citation.id%}
          <li style="padding-bottom:15px;">
            {% include publications-citation-style.html param=media %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}
  


{% elsif section contains 'themes' %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://raw.githubusercontent.com/nicolas-navarro-guerrero/publications/master/2017-04-Navarro-Guerrero2017Improving.jpeg" class="card-img-top" alt="Caption: Inverse Kinematics learning with TD-learning, Copyright: Nicolás Navarro-Guerrero.">
      <div class="card-body">
        <h5 class="card-title">Reinforcement Learning</h5>
        <p class="card-text">Reinforcement learning is one of the key frameworks to enable open-ended learning, and it is the prime technique for decision making, optimal control and autonomous systems. Reinforcement learning techniques are at the core of systems such as AlphaGo and other board games and eSports bots developed by OpenAI and Deepmind...</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://raw.githubusercontent.com/nicolas-navarro-guerrero/publications/master/2018-06-Toprak2018Evaluating.jpeg" class="card-img-top" alt="Caption: Visuo-Haptic Object Recognition systems. Copyright Sibel Toprak">
      <div class="card-body">
        <h5 class="card-title">Bio-Inspired Perceptual Systems</h5>
        <p class="card-text">Perception systems are crucial for the application of any learning algorithm to autonomous systems and automation. For the application of robot reaching and grasping, including smart prosthetics, we develop bio-inspired perceptual systems for haptic and vision...</p>
      </div>
    </div>
  </div>
</div>
{% elsif section contains 'carousel' %}
  {% if images.size > 0 %}
   <h3 class="pt-5">Gallery</h3>
  {% endif %}
  {% include carousel.html project=page %}



{% else %}
{% assign projects = site.pages | where_exp: "item", "item.tags contains 'project'" %}
{% assign projects = projects | sort: "date" | reverse %}
{% if latest == -1 %}
  {% assign latest = forloop.length %}
{% endif %}
<div class="row g-3 d-flex justify-content-center">
  {% for item in projects limit:latest %}
    {% assign tmp = item.tags | downcase %}
    {% if tmp contains section %}
    <div class="col-12 col-sm-6 col-md-6 d-flex">
        <div class="card w-100 h-100 d-flex flex-column" style="border: solid 2px rgb(56, 56, 56); ">

          <div class="d-flex justify-content-center align-items-center ms-3 me-3 mt-2" style="min-height: 150px;">
            <a href="{{ item.slug }}">
              <img src="{% if item.thumbnail != null %}{{item.slug}}{{ item.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" 
                  class="card-img-top  p-2 " 
                  alt="Project Thumbnail" 
                  style="max-width:350px; max-height:500px; object-fit: scale-down; border-radius: 5px; background-color: #ffffffe9;">
            </a>
          </div>

          <div class="card-body d-flex flex-column flex-grow-1">
            <h5 class="card-title">
              <a href="{{ item.slug }}"><strong>{{ item.title }}</strong></a>
            </h5>
            {% if item.subtitle != null %}
              <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
            {% endif %}
            <p class="card-text">{{ item.date | date_to_string }} &#187; {{ item.enddate | date_to_string }}</p>
          </div>
          <div class=" bg-transparent border-none text-center pb-2">
            <a href="{{ item.slug }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endif %}

