{% assign section = include.section | downcase | default: '' %}
{% assign latest = include.latest | default: -1 %}
{% assign page = include.page %}

{% if section contains 'acknowledgment' %}
<div class="col-md-12">
  {% if page.acknowledgment != null %}
    <h3>Acknowledgments:</h3>
    {{ page.acknowledgment }}
  {% endif %}
</div><!-- column -->

{% elsif section contains 'interests' %}
<ul>
  <li>Embodied and Developmental Cognition</li>
  <li>Bio-inspired Perceptual Systems & Signal Processing</li>
  <li>Cognitive Robotics</li>
  <li>Neurorobotics</li>
  <li>Human-Robot Interaction</li>
  <li>Service Robots</li>
</ul>

{% elsif section contains 'partners' %}
<div class="col-md-12">
  {% if page.partners !=  null %}
    <h3>Project Partners:</h3>
    {{ page.partners }}
  {% endif %}
</div><!-- column -->

{% elsif section contains 'sponsors' %}
<div class="col-md-12">
  {% if page.sponsors != null %}
    <h3>Grants and Sponsors:</h3>
    {{ page.sponsors }}
  {% endif %}
</div><!-- column -->

{% elsif section contains 'publications' %}
{% assign isrelatedpapers = null %}
<div class="col-md-12">
  {% if page.relatedpapers != null %}
    {% for papers in site.publications reversed %}
        {% if papers.tags contains page.relatedpapers %}
            {% assign isrelatedpapers = 1 %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if isrelatedpapers %}
    <hr>
    <h3>Related Publications:</h3>
    <ol>
      {% for papers in site.publications reversed %}
        {% if papers.tags contains page.relatedpapers %}
          <li style="padding-bottom:15px;">
            {% include publications-citation-style.html param=papers %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    {% endif %}
  {% endif %}
</div><!-- column -->

{% else %}
{% assign projects = site.pages | where_exp: "item", "item.tags contains 'project'" %}
{% assign projects = projects | sort: "date" | reverse %}

  {% assign counter = 0 %}
<div class="card-columns">
  {% for item in projects %}
    {% unless item.categories contains 'template' %}
      {% assign tmp = item.tags | downcase %}
      {% if tmp contains section %}
        {% assign counter = counter | plus: 1 %}

  <div class="card border-light mt-3">
    <img src="{% if item.thumbnail != null %}{{ item.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" class="card-img-top rounded" alt="Project Thumbnail">
    <div class="card-body text-center">
      <h5 class="card-title mx-n4"><a href="{{ item.slug }}">{{ item.title }}</a></h5>
      {% if item.subtitle != null %}
      <h6 class="card-subtitle mb-2 mx-n4 text-muted">{{ item.subtitle }}</h6>
      {% endif %}
      <p class="card-text mx-n4">{{ item.start }} &#187; {{ item.end }}</p>
    </div>
    <div class="card-footer bg-transparent border-white text-center">
      <a href="{{ item.slug }}" class="btn btn-primary">Read more</a>
    </div>
  </div><!-- card -->
      {% endif %}
      {% if counter == latest %}
        {% break %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</div><!-- card deck -->
{% endif %}

