{% assign handle = include.param %}

<!-- TITLE -->
<span style="font-size: 18px;">
  <strong>{{ handle.citation.title }}</strong>.<br>
</span>

{% if handle.citation.container-title != null %}
  {{ handle.citation.container-title }}. 
{% elsif handle.citation.event != null %}
  Talk at {{ handle.citation.event }}.
{% elsif handle.citation.medium != null %}
  {{ handle.citation.medium }}.  
{% elsif handle.citation.publisher != null %}
  {{ handle.citation.publisher }}.
{% endif %}

{% if handle.citation.volume and handle.citation.collection-title %}
  vol. {{ handle.citation.volume }} of {{ handle.citation.collection-title }},
{% elsif handle.citation.volume %}
  vol. {{ handle.citation.volume }},
{% endif %}

{% if handle.citation.issue != null %}
  no. {{ handle.citation.issue }},
{% endif %}
{% assign pagesnumbers = null %}
{% if handle.citation.page %}
  {% assign pagesnumbers = handle.citation.page %}
{% elsif handle.citation.pages %}
  {% assign pagesnumbers = handle.citation.pages %}
{% endif %}
{% if pagesnumbers %}
  pp. {{ pagesnumbers }},  
{% endif %}

<!--EVENTPLACE-->
{% if handle.citation.event-place %}
  {{ handle.citation.event-place }}. 
{% endif %}

<!-- DATE -->
{% if include.param.citation.issued.day and include.param.citation.issued.month and include.param.citation.issued.year %}
  {{ include.param.citation.issued.day }} {% include 3-letters-month.html param=include.param.citation.issued.month %} {{ include.param.citation.issued.year }}.
{% elsif include.param.citation.issued.month and include.param.citation.issued.year %}
  {% include 3-letters-month.html param=include.param.citation.issued.month %} {{ include.param.citation.issued.year }}.
{% elsif include.param.citation.issued.year %}
  {{ include.param.citation.issued.year }}.
{% endif %}

<!--LANGUAGE-->
{% if handle.citation.language != null %}
  Language: {{ handle.citation.language }}
{% endif %}

<br>

<!-- AUTHORS-->
{% if handle.citation.interviewer != null %}
<br>
  {% for item in handle.citation.interviewer %}
    {{ item.family }}, {{ item.given }};
  {% endfor %}
{% elsif handle.citation.author != null %}
<br>
  {% for authors in handle.citation.author %}
    {{ authors.family }}, {{ authors.given }}{% if forloop.last == false %};{% endif %}
  {% endfor %}
  <br>
{% endif %}

<!--LINKS-->

{% if include.param.citation.DOI%}
  <a href="http://dx.doi.org/{{ doicode }}" target="_blank">DOI</a> 
{%endif%}
{% if include.param.file%}
<a href="{{ include.param.file }}" target="_blank">PDF</a> 
{%endif%}
{% if include.param.citation.URL%}
<a href="{{ include.param.citation.URL }}" target="_blank">URL</a> 
{%endif%}



<!--BIBKEY-->
{% if handle.bibtex %}
  <strong>bibkey: </strong> {{ handle.citation.bibtex }}
{% endif %}

<!--SUPPLEMENTARY-SLIDES-->
{% if handle.supplementary %}
  <a href="{{ handle.supplementary }}">Supplementary material</a>
{% endif %}
{% if handle.slides != null %}
  <a href="{{ handle.slides }}"> slides</a>, 
{% endif %}

<!-- RIGHTS & LICENSE -->
{% if include.param.rights %}
  {{ include.param.rights }}
{% endif %}

{% if include.param.license %}
  {{include.param.license }}
{% endif %}

