{% assign section = include.section | downcase | default: '' %}
{% assign latest = include.latest | default: -1 %}

{% if section contains 'intro' %}
<p>View my publications sorted by <a href="/publications/">category</a>, <a href="/publications/chronological/">chronologically*</a>, or alternatively, in <a href="https://www.zotero.org/groups/nng-publications/items" target="_blank"><img alt="zotero" src="/assets/img/logos/zotero-logo-s.png" height="11"></a>. For copies/pre-prints/reprints of any of the papers below send me an e-mail. Please let me know if any link is broken or if you detect any other issue.</p>

{% elsif section contains 'copyright' %}
<div class="card bg-info mt-5 mb-5">
  <div class="card-header">
    <h5 class="text-center" id="copyright">Copyright Notice</h5>
  </div>
  <div class="card-body">
    <p class="card-text">The documents contained in this page are included to ensure timely dissemination of scholarly and technical work on a non-commercial basis. Copyright and all rights therein are retained by authors or by other copyright holders. It is understood that all persons copying this information will adhere to the terms and constraints invoked by each author's copyright. These works may not be reposted without the explicit permission of the copyright holder.</p>
  </div>
</div>

{% elsif section contains 'id' %}
  {% assign size = '50px' %}
  <h3 class="mt-5" id="ids">Research IDs</h3>

  <div class="table-responsive">
    <table class="table table-hover table-borderless table-striped">
      <tbody>
        {% for category in site.data.elsewhere %}
          {% if category.name contains "research" %}
            {% for item in category.subitems %}
              <tr>
                <th scope="row" class="align-middle">{{ item.name }}:</th>
                <td class="align-middle">
                {% if item.icon contains "<i class=" %}
                  <div class="bg-white " style="width:{{size}};height:{{size}}; border-radius: 10px;">
                    <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank" class="text-dark d-flex justify-content-center" style="font-size:{{ size }};">{{ item.icon }}</a>
                  </div>
                {% else %}
                  <div class="bg-white" style="width:{{size}};height:{{size}}; border-radius: 10px;">
                    <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank"><img src="{{ item.icon }}" alt="{{ item.name }}" class="text-dark" style="height:{{ size }}; width:{{size}}"></a>
                  </div>
                {% endif %}
                </td>
                <td class="align-middle">
                  
                    <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank">{{ item.username }}</a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          {% for item in category.subitems %}
            {% assign ans = item.name | downcase %}
            {% if ans contains "publons" %}
              <tr>
                <th scope="row" class="align-middle">{{ item.name }}:</th>
                <td class="align-middle">
                {% if item.icon contains "<i class=" %}
                  <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank" class="text-dark align-middle" style="font-size:{{ size }};">{{ item.icon }}</a>
                {% else %}
                  <a href="{{ item.baseurl }}/{{ item.username }}" target="_blank"><img src="{{ item.icon }}" alt="{{ item.name }}" class="text-dark" style="height:{{ size }};"></a>
                {% endif %}
                </td>
                <td class="align-middle"><a href="{{ item.baseurl }}/{{ item.username }}" target="_blank">{{ item.username }}</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% else %}
  {% assign datafile = site.publications %}
  {% assign display = ' d-flex' %}
  {% assign ans = site.publications | size %}
  {% if section contains 'upcoming' %}
    {% assign title = 'Upcoming Articles' %}

  {% elsif section contains 'journals' %}
    {% assign title = 'Journal Articles' %}

  {% elsif section contains 'chapters' %}
    {% assign title = 'Book Chapters' %}

  {% elsif section contains 'conferences' %}
    {% assign title = 'Conferences and Workshops' %}

  {% elsif section contains 'abstracts' %}
    {% assign title = 'Abstracts and Posters' %}
    {% assign display = 'd-flex' %}
  
  {% elsif section contains 'thesis' or section contains 'reports' %}
    {% assign title = 'Theses and Technical Reports' %}

  {% elsif section contains 'talks' %}
    {% assign title = 'Invited Talks' %}
    {% assign display = 'd-none' %}
    {% assign datafile = site.talks %}

  {% elsif section contains 'media' %}
    {% assign title = 'Media Coverage and Activities' %}
    {% assign display = 'd-none' %}
    {% assign datafile = site.media %}
  {% endif %}

  {% unless section == '' or section contains 'talks' or section contains 'media' %}
  <h3 class="pt-5" id="{{ section }}">{{ title }}</h3>
  {% endunless %}

  <ul class="list-unstyled">
    {% assign last_index = datafile.size | minus: 1 %}
    {% assign current_year = datafile[last_index].citation.issued.year %}
    {% assign counter = 1 %}

    {% if page.url == '/publications/chronological/' %}
      <span style="font-size: 25px;"><strong>{{ current_year }}</strong></span>
    {% endif %}
  
  {% for item in datafile reversed %}
    {% unless item.categories contains 'template' %}
      {% assign tmp = item.tags | downcase %}
      {% assign temp = section | size | minus: 1 %}
      {% assign ection = section | slice: 0,temp %}
      
      {% if tmp contains section or tmp contains ection %}
        {% if page.url == '/publications/chronological/' %}
          {% if item.citation.issued.year != current_year %}
            {% assign current_year = item.citation.issued.year %}
            <span style="font-size: 25px;"><strong>{{ current_year }}</strong></span>
          {% endif %}
        {% endif %}
          <li class="mt-4">
            <div class="row align-items-center d-flex">
              <div class="col-md-3 {{display}} justify-content-center align-items-center">
                <img  
                  src="{% if item.thumbnail != null %}{{ item.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" 
                  onerror="this.src='/assets/placeholders.svg';" 
                  style="max-height: 200px; max-width: 100%; height: auto; width: auto; border: none;">
              </div>
              <div class="col-md-9">
                {% include publications-citation-style.html param=item %}
              </div>
            </div>
            <hr> 
          </li>
        {% endif %}
        {% if counter == latest %}
          {% break %}
        {% endif %}
        {% assign counter = counter | plus: 1 %}
      {% endunless %}
    {% endfor %}
  </ul>
{% endif %}

