{% assign tmp = include.section | downcase | default: 'intro' %}

{% if tmp contains 'intro' %}
<p>View my publications sorted by <a href="/publications/by-type/">category</a>, <a href="/publications/chronological/">chronologically</a>, or alternatively, in <a href="https://www.zotero.org/groups/nng-publications/items" target="_blank"><img alt="zotero" src="/assets/img/logos/zotero-logo-s.png" height="11"></a>. For copies/pre-prints/reprints of any of the papers below just send me an e-mail. Please let me know if any link is broken or if you detect any other issue.</p>

{% elsif tmp contains 'right' %}
<div class="card text-white bg-info mt-5 mb-5">
  <div class="card-header">
    <h5 class="text-center">Copyright Notice</h5>
  </div>
  <div class="card-body">
    <p class="card-text">The documents contained in this page are included to ensure timely dissemination of scholarly and technical work on a non-commercial basis. Copyright and all rights therein are retained by authors or by other copyright holders. It is understood that all persons copying this information will adhere to the terms and constraints invoked by each author's copyright. These works may not be reposted without the explicit permission of the copyright holder.</p>
  </div>
</div>

{% elsif tmp contains 'id' %}

{% assign size = '45px' %}
<h3 class="mt-5" id="research-ids">Research IDs</h3>

<div class="table-responsive">
  <table class="table table-hover table-borderless table-striped">
    <tbody>
      {% for category in site.data.elsewhere %}
        {% if category.name contains "research" %}
          {% for item in category.subitems %}
            <tr>
              <th scope="row" class="align-middle">{{ item.name }}:</th>
              <td class="align-middle"><a href="{{ item.baseurl }}/{{ item.username }}" target="_blank"><img src="{{ item.icon }}" alt="{{ item.name }}" style="height:{{ size }};"></a></td>
              <td class="align-middle"><a href="{{ item.baseurl }}/{{ item.username }}" target="_blank">{{ item.username }}</a></td>
            </tr>
          {% endfor %}
        {% endif %}
        {% for item in category.subitems %}
          {% assign ans = item.name | downcase %}
          {% if ans contains "publons" %}
            <tr>
              <th scope="row" class="align-middle">{{ item.name }}:</th>
              <td class="align-middle"><a href="{{ item.baseurl }}/{{ item.username }}" target="_blank"><img src="{{ item.icon }}" alt="{{ item.name }}" style="height:{{ size }};"></a></td>
              <td class="align-middle"><a href="{{ item.baseurl }}/{{ item.username }}" target="_blank">{{ item.username }}</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

