{% assign datafile = site.data.resources-links %}
{% assign handle = include.section | downcase | default: 'all' %}

{% for item in datafile %}
  {% if handle == 'all' or handle == item.id %}
    <h3 class="pt-5 text-center" id="{{ item.id }}">
      {{ item.name | capitalize }} <i class="fa-solid fa-up-right-from-square"></i> 
    </h3>

    {% assign ans = item.subitems | size %}
    {% assign ans = ans | divided_by: 2.0 | ceil %}

    {% assign counter = 0 %}
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="list-group">
          {% for subitem in item.subitems %}
            {% if counter == ans %}
              </div><!-- list-group -->
            </div><!-- column -->
            <div class="col-12 col-md-6">
              <div class="list-group">
            {% endif %}
            
            <a href="{{ subitem.url }}" class="list-group-item list-group-item-action">{{ subitem.name }}{% if subitem.icon != null %}  {{ subitem.icon }}{% endif %}</a>
            {% assign counter = counter | plus: 1 %}
          {% endfor %}
    </div><!-- column -->
    </div><!-- row -->
  {% endif %}
{% endfor %}
