---
layout: with-sidebar
slug: resources
tags: [overview, resources, links, source code, software]

title: Resources
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<h3 class="sub-header id-header" id="programming">Software Development Tools</h3>
{% include resources/links-software-tools.html %}

<h3 class="sub-header id-header" id="latex">LaTeX</h3>
{% include resources/links-latex-tools.html %}

<h3 class="sub-header id-header" id="research">Research Tools</h3>
{% include resources/links-research-tools.html %}
