---
slug: resources
tags: [overview, resources, links, source code, software, datasets, supplementary material, ethics, scientific writing, software development tools, LaTeX, open access, open source]

title: Resources
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<p>Here you will find an ever-evolving list of links to software, datasets and tools where I have been involved as part of my research. Here you will also find a collection of links to tools and guidelines that I regularly use.</p>

<!-- -->
<!-- -->
<h2 class="pt-5"><a href="{{ "/resources/materials#software" | prepend: site.baseurl }}" title="Repositories">Software<span class="caret"></span></a></h2>
<p class="text-center mb-5">In the meanwhile check my public repositories at:</p>
<!--
Here is a collection of software/libraries/recipes that I wrote for my own purposes and that you might find useful. Unless stated otherwise, permission is granted to copy, distribute and/or modify these software under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version. If you use any of these programs for your research, we kindly ask you to cite our related publications. Use the reference below or import the bibtex reference.
-->
{% include contact-elsewhere.html category='repositories' %}

<a class="btn btn-primary btn-lg btn-block mt-5 mb-5" href="{{ "/resources/materials#software" | prepend: site.baseurl }}" role="button">See All Repositories <span class="caret"></span></a>


<!-- -->
<!-- -->
<h2 class="pt-5"><a href="{{ "/resources/materials#datasets" | prepend: site.baseurl }}" title="Datasets">Datasets and Supplementary Material<span class="caret"></span></a></h2>
<p class="text-center">Find my published Datasets and Supplementary Material in figshare:</p>
{% include contact-elsewhere.html account='figshare' %}


<a class="btn btn-primary btn-lg btn-block mt-4 mb-5" href="{{ "/resources/materials#datasets" | prepend: site.baseurl }}" role="button">See All Datasets <span class="caret"></span></a>


<!-- -->
<!-- -->
<h2 class="pt-5"><a href="{{ "/resources/videos" | prepend: site.baseurl }}" title="Videos">Videos<span class="caret"></span></a></h2>
{% include videos.html latest=4 style='overview' %}

<a class="btn btn-primary btn-lg btn-block mt-1 mb-4" href="{{ "/resources/videos" | prepend: site.baseurl }}" role="button">See All Videos <span class="caret"></span></a>


<!-- -->
<!-- -->
<h2 class="pt-5"><a href="{{ "/resources/links" | prepend: site.baseurl }}" title="Videos">External Links<span class="caret"></span></a></h2>

<p>Here you will find an ever-evolving list of links to tools and guidelines that I regularly use or recommend.</p>

<a class="btn btn-primary btn-lg btn-block mt-5" href="{{ "/resources/links" | prepend: site.baseurl }}" role="button">See All External Links <span class="caret"></span></a>

