{% assign counter = 0 %}

{% for vids in site.videos reversed %}
  {% unless vids.categories contains 'template' %}
    {% if counter == 0 %}
      <div class="row">
    {% endif %}

    {% capture counter %}{{ counter | plus: '1' }}{% endcapture %}

    {% if counter <= include.param %}
      <div class="col-xs-12 col-sm-6 col-md-6">
        {% include media/video-overview-style.html param=vids %}
      </div>
    {% endif %}
  {% endunless %}
{% endfor %}

{% if counter != 0 %}
    </div><!-- row -->
{% endif %}
