<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.ctan.org/" class="list-group-item">The Comprehensive TeX Archive Network</a>
        <a href="http://www.miktex.org/" class="list-group-item">MiKTeX (TeX/LaTeX for Windows)</a>
        <a href="https://en.wikibooks.org/wiki/LaTeX" class="list-group-item">LaTeX (Wikibooks)</a>
        <a href="https://tex.stackexchange.com/" class="list-group-item">TeX - LaTeX Stack Exchange (Forum)</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.xm1math.net/texmaker/" class="list-group-item">Texmaker (cross-platform LaTeX editor)</a>
        <a href="http://web.ift.uib.no/Teori/KURS/WRK/TeX/symALL.html" class="list-group-item">LaTeX Math Symbols </a>
        <a href="http://detexify.kirelabs.org/classify.html" class="list-group-item">Detexify: LaTeX symbols</a>
        <a href="http://www.tug.dk/FontCatalogue/" class="list-group-item">The LaTeX Font Catalogue</a>
      </div>
    </div><!-- column -->
</div><!-- row -->
