<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.docear.org/" class="list-group-item">Docear (Literature Management)</a>
        <a href="https://www.zotero.org/" class="list-group-item">Zotero (Literature Management)</a>
        <a href="http://www.chicagomanualofstyle.org/home.html" class="list-group-item">The Chicago Manual of Style Online (Writing Style)</a>
        <a href="http://www.apastyle.org/" class="list-group-item">Publication Manual of the American Psychological Association (Writing Style)</a>
        <a href="https://www.scimagojr.com/index.php" class="list-group-item">SCImago Journal & Country Rank (where to publish)</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://open-access.net/de_en/homepage/" class="list-group-item">Open Access</a>
        <a href="https://creativecommons.org/licenses/" class="list-group-item">Creative Commons copyright licenses</a>
        <a href="http://opendatacommons.org/" class="list-group-item">Open Data Commons</a>
        <a href="https://www.gnu.org/licenses/gpl.html" class="list-group-item">GNU General Public License</a>
      </div>
    </div><!-- column -->
</div><!-- row -->
