<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.zotero.org/" class="list-group-item">Zotero (Literature Management)</a>
        <a href="http://zotfile.com/" class="list-group-item">Advanced attachments management plugin for Zotero</a>
        <a href="https://github.com/retorquere/zotero-better-bibtex" class="list-group-item">Better Bib(La)TeX plugin for Zotero</a>
        <a href="https://www.scimagojr.com/index.php" class="list-group-item">SCImago Journal & Country Rank (where to publish)</a>
        <a href="http://doai.io/" class="list-group-item">DOAI (Digital Open Access Identifier) takes you to a free version of the article</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://open-access.net/DE-EN/germany-english/" class="list-group-item">Open Access</a>
        <a href="https://creativecommons.org/licenses/" class="list-group-item">Creative Commons copyright licenses</a>
        <a href="https://opendatacommons.org/" class="list-group-item">Open Data Commons</a>
        <a href="https://www.gnu.org/licenses/gpl.html" class="list-group-item">GNU General Public License</a>
      </div>
    </div><!-- column -->
</div><!-- row -->
