<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.python.org/" class="list-group-item">Python</a>
        <a href="http://www.scipy.org/" class="list-group-item">SciPy</a>
        <a href="http://www.numpy.org/" class="list-group-item">NumPy</a>
        <a href="http://wiki.scipy.org/NumPy_for_Matlab_Users" class="list-group-item">NumPy for Matlab Users</a>
        <a href="http://matplotlib.org/" class="list-group-item">matplotlib</a>
        <a href="http://pythonhosted.org/spyder/" class="list-group-item">Spyder (IDE)</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.codeblocks.org/" class="list-group-item">Code::Blocks (IDE)</a>
        <a href="http://en.cppreference.com/w/" class="list-group-item">C++ reference</a>
        <a href="http://en.wikibooks.org/wiki/C%2B%2B_Programming/Programming_Languages/C%2B%2B/Code/Style_Conventions" class="list-group-item">C++ Programming (Wikibooks)</a>
        <a href="http://www.parashift.com/c++-faq-lite/" class="list-group-item">C++ FAQ Lite</a>
        <a href="https://sourceware.org/gdb/" class="list-group-item">GDB: The GNU Project Debugger</a>
        <a href="https://umbrello.kde.org/" class="list-group-item">Umbrello - The UML Modeller</a>
      </div>
    </div><!-- column -->
</div><!-- row -->
