<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.chicagomanualofstyle.org/home.html" class="list-group-item">The Chicago Manual of Style Online (Writing Style)</a>
        <a href="http://www.apastyle.org/" class="list-group-item">Publication Manual of the American Psychological Association (Writing Style)</a>
        <a href="https://www.computer.org/portal/web/publications/styleguide" class="list-group-item">IEEE Computer Society Style Guide</a>
        <a href="https://pubs.acs.org/isbn/9780841239999" class="list-group-item">The ACS Style Guide: Effective Communication of Scientific Information</a>
        <a href="https://www.ieee.org/publications_standards/publications/authors/author_guide_interactive.pdf" class="list-group-item">How to Write for Technical Periodicals & Conferences</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://pubs.acs.org/doi/abs/10.1021/bk-2006-STYG.ch004" class="list-group-item">Writing Style and Word Usage</a>
        <a href="https://pubs.acs.org/doi/abs/10.1021/bk-2006-STYG.ch009" class="list-group-item">Grammar, Punctuation, and Spelling</a>
        <a href="https://www.elsevier.com/wps/find/authors.authors/authorartworkinstructions" class="list-group-item">Artwork and Multimedia Instructions</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003833" class="list-group-item">Ten Simple Rules for Better Figures</a>
      </div>
    </div><!-- column -->
</div><!-- row -->


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003149" class="list-group-item">Ten Simple Rules for Writing a Literature Review</a>
        <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003453" class="list-group-item">Ten Simple Rules for Writing Research Papers</a>
        <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004205" class="list-group-item">Ten Simple (Empirical) Rules for Writing Science</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.0030102" class="list-group-item">Ten Simple Rules for a Good Poster Presentation</a>
        <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.0030077" class="list-group-item">Ten Simple Rules for Making Good Oral Presentations</a>
        <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005373" class="list-group-item">Ten simple rules for short and swift presentations</a>
      </div>
    </div><!-- column -->
</div><!-- row -->
