<p>A collection of links and guidelines to promote integrity in research, please visit the links for more information.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" class="list-group-item">
        <h4 class="list-group-item-heading">Authorship should be based on the following 4 criteria:</h4>
        <p class="list-group-item-text">
        <ol>
            <li>Substantial contributions to the conception or design of the work; or the acquisition, analysis, or interpretation of data for the work; AND</li>
            <li>Drafting the work or revising it critically for important intellectual content; AND</li>
            <li>Final approval of the version to be published; AND</li>
            <li>Agreement to be accountable for all aspects of the work in ensuring that questions related to the accuracy or integrity of any part of the work are appropriately investigated and resolved.</li>
        </ol>
        </p>
        </a>
      </div>

      <div class="list-group">
        <a href="http://ccnmtl.columbia.edu/projects/rcr/rcr_authorship/case/index.html" class="list-group-item">
        <h4 class="list-group-item-heading">Responsible Authorship and Peer Review: Case Studies</h4>
        <p class="list-group-item-text">Please read this "clean" version of each case and reflect upon the different issues they contain. Upon completion of the cases, we hope that you will continue directly on to the Q & A section.</p>
        <p class="list-group-item-text">
        <ol>
            <li>Case Study 1: Who is an Author?</li>
            <li>Case Study 2: What is Responsible Peer Review?</li>
            <li>Case Study 3: Peer Review and Controversial Research</li>
        </ol>
        </p>
        </a>
      </div>

    </div><!-- column -->

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://ori.hhs.gov/blog/new-infographic-5-ways-supervisors-can-promote-research-integrity" class="list-group-item">
        <h4 class="list-group-item-heading">5 Ways Supervisors Can Promote Research Integrity</h4>
        <p class="list-group-item-text">
        <ol>
            <li>Be Available and Approachable</li>
            <li>Review Raw Data</li>
            <li>Communicate Your Expectations</li>
            <li>Provide Training and Guidance</li>
            <li>Know Your Research Integrity Officer (RIO)</li>
        </ol>
        </p>
        </a>
      </div>
    </div><!-- column -->
  </div><!-- row -->
  
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://journals.sagepub.com/doi/abs/10.1177/0306312714535679" class="list-group-item">
Academic Urban Legends</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.cs.indiana.edu/how.2b/how.2b.advice.html" class="list-group-item">Advice for Advisors</a>
      </div>
    </div><!-- column -->
</div><!-- row -->

