<p>A collection of links and guidelines to promote integrity in research, please visit the links for more information.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" class="list-group-item">
        <h4 class="list-group-item-heading">Authorship should be based on the following 4 criteria:</h4>
        <p class="list-group-item-text">
1) Substantial contributions to the conception or design of the work; or the acquisition, analysis, or interpretation of data for the work; AND
2) Drafting the work or revising it critically for important intellectual content; AND
3) Final approval of the version to be published; AND
4) Agreement to be accountable for all aspects of the work in ensuring that questions related to the accuracy or integrity of any part of the work are appropriately investigated and resolved.</p>
        </a>
      </div>
    </div><!-- column -->

<!--    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" class="list-group-item">
        <h4 class="list-group-item-heading">Authorship should be based on the following 4 criteria:</h4>
        <p class="list-group-item-text">
1) Substantial contributions to the conception or design of the work; or the acquisition, analysis, or interpretation of data for the work; AND
2) Drafting the work or revising it critically for important intellectual content; AND
3) Final approval of the version to be published; AND
4) Agreement to be accountable for all aspects of the work in ensuring that questions related to the accuracy or integrity of any part of the work are appropriately investigated and resolved.</p>
        </a>
      </div>
    </div><!-- column -->
  </div><!-- row -->
  
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://journals.sagepub.com/doi/abs/10.1177/0306312714535679" class="list-group-item">
Academic Urban Legends</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.cs.indiana.edu/how.2b/how.2b.advice.html" class="list-group-item">Advice for Advisors</a>
      </div>
    </div><!-- column -->
</div><!-- row -->

