---
layout: with-sidebar
slug: teaching
tags: [overview, recent courses, thesis supervision, theses, thesis offers, supervised theses, thesis template, advisor, guide]

title: Teaching
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<h2 class="sub-header"><a href="/teaching/courses" title="Courses">Recent Courses<span class="caret"></span></a></h2>
{% include teaching/courses-list.html param='recent' %}

<div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" >
        <a class="btn btn-primary btn-lg btn-block" href="/teaching/courses" role="button">See All Courses <span class="caret"></span></a>
    </div>
</div><!-- row -->

<h2 class="sub-header"><a href="/teaching/theses" title="Theses Supervision">Thesis Supervision<span class="caret"></span></a></h2>
{% include teaching/thesis-supervision-statement.html %}
{% include teaching/thesis-resources.html %}

<div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" >
        <a class="btn btn-primary btn-lg btn-block" href="/teaching/theses" role="button">See All Supervised Theses <span class="caret"></span></a>
    </div>
</div><!-- row -->
