---
layout: with-sidebar
slug: teaching
tags: [overview, recent courses, thesis supervision, theses, thesis offers, supervised theses, thesis template, advisor, guide]

title: Teaching
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
<h2 class="sub-header"><a href="/teaching/courses" title="Courses">Recent Courses<span class="caret"></span></a></h2>
{% include teaching/courses-list.html param='recent' %}

<h2 class="sub-header"><a href="/teaching/theses" title="Theses Supervision">Thesis Supervision<span class="caret"></span></a></h2>
{% include teaching/thesis-supervision-statement.html %}
{% include teaching/thesis-resources.html %}
