---
slug: teaching
tags: [overview, recent courses, thesis supervision, theses, thesis offers, supervised theses, thesis template, advisor, guide]

title: Teaching
subtitle: Overview
author: Nicolás Navarro-Guerrero
---

<!--
<h2><a href="/teaching/courses" title="Courses">Education Program Coordinator<span class="caret"></span></a></h2>
Since August 2021, I have been the Education Program Coordinator at the <a href="https://robotik.dfki-bremen.de/de/ueber-uns/universitaet-bremen-arbeitsgruppe-robotik.html">Working Group Robotics</a> at the University of Bremen, led by Prof. Dr. Dr. h.c. Frank Kirchner. The courses include Robot Design Lab (BSc), Machine Learning for Autonomous Robots (MSc), Modern Robot Control Architectures (MSc), Reinforcement Learning (MSc), Human-Robot Interaction Project (MSc), and Human-Centered Interaction in Robotics (MSc). For more details about the courses, visit the <a href="https://robotik.dfki-bremen.de/de/lehre.html">List of Teaching Activities.</a>
-->

<h2 class="pt-5"><a href="/teaching/courses" title="Courses">Recent Courses<span class="caret"></span></a></h2>
{% include courses.html param='recent' %}

<a class="btn btn-primary btn-lg btn-block mt-4 mb-5" href="{{ "/teaching/courses" | prepend: site.baseurl }}" role="button">See All Courses <span class="caret"></span></a>


<h2 class="pt-5"><a href="/teaching/theses" title="Theses Supervision">Thesis Supervision<span class="caret"></span></a></h2>
{% include theses.html param='intro' %}
{% include resources-link-formatting.html section='thesis' %}


<a class="btn btn-primary btn-lg btn-block mt-4 mb-5" href="{{ "/teaching/theses" | prepend: site.baseurl }}" role="button">See All Supervised Theses <span class="caret"></span></a>

