---
tags: [thesis offers, teaching, supervised theses, thesis template]
slug: teaching/theses

title: Teaching
subtitle: Thesis Offers
author: Nicolás Navarro-Guerrero
---
{% include theses.html param='intro' %}
{% include resources-link-formatting.html section='thesis' %}

<h3 class="pt-5" id="offers">Thesis Offers</h3>
<p>Please check the thesis offers from the <a href="https://eng.au.dk/en/research/electrical-and-computer-engineering/control-and-automation/cognitive-and-developmental-robotics/">Cognitive and Developmental Robotics Group</a> or the <a href="https://projects.au.dk/socialrobotics/teaching/thesis-offers/">AU Social Robotics Lab,</a> or contact me if you are interested in doing a research project with me. A few tentative thesis topics I am currently interested in supervising are:</p>

<h4>Machine Learning</h4>
<ul>
    <li>Inverse kinematics learning</li>
    <li>Multimodal object recognition</li>
    <li>Reinforcement learning</li>
    <li>Echo state networks (reservoir computing)</li>
    <li><a href="http://dx.doi.org/10.1039/C2SM25385B">Bio-inspired</a> perceptual systems</li>
</ul>

<h4>Engineering</h4>
<ul>
    <li>Tactile sensing (digital signal processing)</li>
    <li>Retinal processing (digital signal processing)</li>
    <li>Power mobility and care equipment</li>
</ul>

<h3 class="pt-5" id="supervised">Supervised and Examined Theses</h3>

<h4 class="pt-3" id="MSc">Master Theses</h4>
{% include theses.html param='MSc' param2='Diplom' %}


<h4 class="pt-5" id="MSc">Bachelor Theses</h4>
{% include theses.html param='BSc' %}

<h4 class="pt-5" id="MSc">MSc Research and Development Projects</h4>
{% include theses.html param='report' %}

{% include publications.html section='copyright' %}

