---
tags: [thesis offers, teaching, supervised theses, thesis template]
slug: teaching/theses

title: Teaching
subtitle: Thesis Offers
author: Nicolás Navarro-Guerrero
---
{% include theses.html param='intro' %}
{% include resources-link-formatting.html section='thesis' %}

<h3 class="pt-5" id="offers">Thesis Offers</h3>
<p>At the moment, I don't have a public list of thesis offers. Thus get in touch with me if you are interested in topics related to my publications, ongoing projects, previous supervised thesis or the general topics listed below:</p>

<h4>Machine Learning</h4>
<ul>
    <li>Inverse Kinematics Learning</li>
    <li>Multimodal Object Perception</li>
    <li>Grasping</li>
    <li>Reinforcement Learning</li>
    <li>Spatio-Temporal Signal Processing</li>
    <li><a href="http://dx.doi.org/10.1039/C2SM25385B">Bio-inspired</a> Perceptual Systems</li>
</ul>

<h4>Engineering</h4>
<ul>
    <li>Tactile sensing (digital signal processing)</li>
</ul>

<h3 class="pt-5" id="supervised">Mentored, Supervised and Examined Theses</h3>

<h4 class="pt-3" id="MSc">PhD Theses: Mentored, Supervised or Examined</h4>
{% include theses.html param='phd' %}


<h4 class="pt-3" id="MSc">Master Theses</h4>
{% include theses.html param='MSc' param2='Diplom' %}


<h4 class="pt-5" id="MSc">Bachelor Theses</h4>
{% include theses.html param='BSc' %}


<h4 class="pt-5" id="MSc">MSc Research and Development Projects</h4>
{% include theses.html param='report' %}


{% include publications.html section='copyright' %}

