---
tags: [thesis offers, teaching, supervised theses, thesis template]
slug: teaching/theses

title: Teaching
subtitle: Thesis Offers
author: Nicolás Navarro-Guerrero
---
{% include theses.html param='intro' %}
{% include resources-link-formatting.html section='thesis' %}

<h3 class="pt-5" id="offers">Thesis Offers</h3>
<p>At the moment, I don't have a public list of thesis offers. Thus get in touch with me if you are interested in topics related to my publications, ongoing projects, previous supervised thesis or the general topics listed below:</p>

<h4>Machine Learning</h4>
<ul>
    <li>Inverse Kinematics Learning</li>
    <li>Multimodal Object Perception</li>
    <li>Grasping</li>
    <li>Reinforcement Learning</li>
    <li>Spatio-Temporal Signal Processing</li>
    <li><a href="http://dx.doi.org/10.1039/C2SM25385B">Bio-inspired</a> Perceptual Systems</li>
</ul>

<h4>Engineering</h4>
<ul>
    <li>Tactile sensing (digital signal processing)</li>
</ul>

<h3 class="pt-5" id="supervised">Mentored, Supervised and Examined Theses</h3>

<h4 class="pt-3" id="MSc">PhD Theses: Mentored, Supervised or Examined</h4>
{% include theses.html param='phd' %}


<h4 class="pt-3" id="MSc">Master Theses</h4>
{% include theses.html param='MSc' param2='Diplom' %}


<h4 class="pt-5" id="MSc">Bachelor Theses</h4>
{% include theses.html param='BSc' %}


<h4 class="pt-5" id="MSc">MSc Research and Development Projects</h4>
{% include theses.html param='report' %}



{% assign total_count=0 %}
{% assign men_count=0 %}
{% assign women_count=0 %}

{% for item in site.theses%}
    {% assign total_count = total_count | plus: 1 %}
    {% if item.tags contains 'woman' %}
        {% assign women_count = women_count | plus: 1 %}
    {% elsif item.tags contains 'man' %}
        {% assign men_count = men_count | plus: 1 %}
    {% endif %}
{%endfor%}



<h4 class="pt-5">Total Overview</h4>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Total</th>				
          <th>Women</th>
          <th>Women %</th>
          <th>Men</th>
          <th>Men %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{total_count}}
          </td>
          <td>
            {{women_count}}
          </td>
          <td>
          {% if total_count>0 %}
              {% assign ratio = women_count | times: 100 | divided_by: total_count %}
              {{ ratio }}%
          {% endif %}
          </td>
          <td>
            {{men_count}}
          </td>
          <td>
          {% if total_count>0 %}
              {% assign ratio = men_count | times: 100 | divided_by: total_count %}
              {{ ratio }}%
          {% endif %}
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

{% include publications.html section='copyright' %}

