/*
 * Global add-ons
 */

.sub-header {
  margin-top: 0px;
  padding-bottom: 5px;
}

.id-header {
  margin-top: 0px;
  padding-top: 55px;
}

.post h2 {
  margin-top: 0;
}

.post-content {
  margin-top: 0px;
  padding-top: 55px;
}

