{% capture currentYear %}{{'now' | date: '%Y'}}{% endcapture %}
{% capture currentMonth %}{{'now' | date: '%m'}}{% endcapture %}
{% capture AYearAgo %}{{ currentYear | minus: 1 }}{% endcapture %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!--<th>Institution</th>-->
        <th>Semester</th>
        <th>Course Code</th>
        <th>Course Type</th>
        <th>Name</th>
        <th>Teachers</th>
      </tr>
    </thead>

    <tbody>
      {% for courses in site.courses reversed %}
        {% capture YearOfCourse %}{{ courses.year }}{% endcapture %}
        {% capture MonthOfCourse %}{{ courses.month }}{% endcapture %}
        {% if include.param == 'all' or include.param == null %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'recent' and AYearAgo < YearOfCourse %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'recent' and AYearAgo == YearOfCourse and currentMonth < MonthOfCourse %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'past' and AYearAgo == YearOfCourse and currentMonth => MonthOfCourse %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'past' and AYearAgo > YearOfCourse %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div><!-- table-responsive -->
