{% assign currentYear = 'now' | date: '%Y' %}
{% assign currentMonth = 'now' | date: '%m' %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!--<th>Institution</th>-->
        <th>Semester</th>
        <th>Course Code</th>
        <th>Course Type</th>
        <th>Name</th>
        <th>Teachers</th>
      </tr>
    </thead>

    <tbody>
      {% for courses in site.courses reversed %}
        {% assign accMonths = currentYear | minus: courses.year | times: 12 %}
        {% if currentMonth != courses.month %}
          {% assign accMonths = accMonths | plus: currentMonth | minus: courses.month %}
        {% endif %}
        {% assign accMonths = accMonths | plus: 0 %}
        
        {% if include.param == 'all' or include.param == null %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'recent' and accMonths < 12 %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}

        {% if include.param == 'past' and accMonths >= 12 %}
          {% include teaching/courses-list-format.html param=courses %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div><!-- table-responsive -->
