<p>Below you can find some resources that may help you with your thesis:</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://bitbucket.org/nicolas-navarro-guerrero/thesis-template" class="list-group-item">A Thesis Template</a>
        <a href="https://www.computer.org/portal/web/publications/styleguide" class="list-group-item">IEEE Computer Society Style Guide</a>
        <a href="https://www.elsevier.com/wps/find/authors.authors/authorartworkinstructions" class="list-group-item">Artwork and Multimedia Instructions</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003833" class="list-group-item">Ten Simple Rules for Better Figures</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003149" class="list-group-item">Ten Simple Rules for Writing a Literature Review</a>
        <a href="https://pubs.acs.org/doi/abs/10.1021/bk-2006-STYG.ch004" class="list-group-item">Writing Style and Word Usage</a>
        <a href="https://pubs.acs.org/doi/abs/10.1021/bk-2006-STYG.ch009" class="list-group-item">Grammar, Punctuation, and Spelling</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="http://sss.sagepub.com/content/44/4/638" class="list-group-item">Academic Urban Legends</a>
        <a href="https://www.cs.indiana.edu/how.2b/how.2b.html" class="list-group-item">How to Be a Good Graduate Student (and advisor)</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.0030229" class="list-group-item">Ten Simple Rules for Graduate Students</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.0030077" class="list-group-item">Ten Simple Rules for Making Good Oral Presentations</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000388" class="list-group-item">Ten Simple Rules for Choosing between Industry and Academia</a>
      </div>
    </div><!-- column -->
  </div><!-- row -->
