<p>Below you can find some resources that may help you with your thesis:</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://gitlab.com/nicolas-navarro-guerrero/expose-paper-template/repository/archive.zip" class="list-group-item">A Thesis Proposal Template</a>
        <a href="https://gitlab.com/nicolas-navarro-guerrero/thesis-template/repository/archive.zip" class="list-group-item">A Thesis Template</a>
        <a href="https://nicolas-navarro-guerrero.github.io/resources/#writing" class="list-group-item">Tips and Tricks for Scientific Writing</a>
      </div>
    </div><!-- column -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="list-group">
        <a href="https://www.cs.indiana.edu/how.2b/how.2b.html" class="list-group-item">How to Be a Good Graduate Student (and advisor)</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.0030229" class="list-group-item">Ten Simple Rules for Graduate Students</a>
        <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000388" class="list-group-item">Ten Simple Rules for Choosing between Industry and Academia</a>
      </div>
    </div><!-- column -->
  </div><!-- row -->
