---
layout: with-sidebar
slug: resources/links
tags: [overview, resources, links, source code, software, datasets, supplementary material, ethics, scientific writing, software development tools, LaTeX, open access, open source]

title: Resources
subtitle: Overview
author: Nicolás Navarro-Guerrero
---
Ever evolving list of links to tools and guidelines that I regularly use or recommend.

<h3 class="sub-header id-header" id="ethics">Research and Publication Ethics</h3>
{% include resources/research-ethics.html %}
<!-- -->
<!-- -->
<h3 class="sub-header id-header" id="research">Research Tools</h3>
{% include resources/links-research-tools.html %}
<!-- -->
<!-- -->
<h3 class="sub-header id-header" id="writing">Scientific Writing</h3>
{% include resources/links-scientific-writing.html %}
<!-- -->
<!-- -->
<h3 class="sub-header id-header" id="latex">LaTeX</h3>
{% include resources/links-latex-tools.html %}
<!-- -->
<!-- -->
<h3 class="sub-header id-header" id="programming">Software Development Tools</h3>
{% include resources/links-software-tools.html %}

