{% assign isrelatedpapers = null %}
<div class="col-md-12">
  {% if include.param.relatedpapers != null %}
    {% for papers in site.publications reversed %}
        {% if papers.tags contains include.param.relatedpapers %}
            {% assign isrelatedpapers = 1 %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if isrelatedpapers %}
    <hr>
    <h3>Related Publications:</h3>
    <ol>
      {% for papers in site.publications reversed %}
        {% if papers.tags contains include.param.relatedpapers %}
          <li style="padding-bottom:15px;">
            {% include pub/citation-style-citeulike.html param=papers %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    {% endif %}
  {% endif %}
</div><!-- column -->

