<div class="col-md-12">
  <!-- <div class="panel panel-default"> -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ include.param.title }}</h3>
      <p> <small>{{ include.param.subtitle }}</small></p>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          {% if include.param.thumbnail != null %}
            <p class="text-center"><img class="img-thumbnail" src="{{ include.param.thumbnail }}" height="150px"/></p>
          {% endif %}
        </div>

        <div class="col-sm-9 col-md-9">
          {% if include.param.coordinator != null %}
            <p>Coordinator: {{ include.param.coordinator }}</p>
          {% endif %}
          {% if include.param.staff != null %}
            <p>Contributed by: {{ include.param.staff }}</p>
          {% endif %}
          <p>Start Date: {{ include.param.start }}</p>
          <p>End Date: {{ include.param.end }}</p>
          {% if include.param.funded != null %}
            <p>Funded by {{ include.param.funded }}</p>
            <p>Project Code or Grant Number: {{ include.param.grant }}</p>
          {% endif %}
        </div>
      </div>
    </div><!-- panel body -->
  </div><!-- panel -->
</div><!-- column -->
