<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
<h4>General Areas of Interest and Specialties:</h4>
<ul>
    <li>Embodied and Developmental Cognition</li>
    <li>Applied Artificial Intelligence and Robotics</li>
    <li>Human-Robot Interaction</li>
    <li>Embedded Systems Design</li>
    <li>Mechatronics</li>
</ul>
    </div><!-- column -->

    <div class="col-xs-12 col-sm-6 col-md-6">
<h4>Areas of Interest in Robotics and Artificial Intelligence:</h4>
<ul>
    <li>Humanoid Robots</li>
    <li>Smart Prosthetics</li>
    <li>Power Mobility and Care Equipment</li>
    <li>Bio-Inspired Sensors and Signal Processing</li>
</ul>
    </div><!-- column -->
  </div><!-- row -->
