<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/hand-tuning.css">
    <link rel="stylesheet" href="/assets/css/body-size.css">
  </head>

  <body>
    <!-- Main navigation bar -->
    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row">

        {% include projs/show-metadata.html param=page %}

        <div class="col-md-12">
          {{ content }}
        </div><!-- column -->

        {% include projs/acknowledgments.html param=page %}

        {% include projs/partners.html param=page %}

        {% include projs/sponsors.html param=page %}

        {% include projs/related-publications.html param=page %}

      </div><!-- row -->
    </div><!-- container -->
    {% include footer.html %}
  </body>
</html>
