<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <!-- Main navigation bar -->
    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row">
        <div class="hidden-xs col-sm-2 col-md-2 sidebar">
          {% if page.slug contains "publications" %}
              {% include nav/publications-sidebar.html %}
          {% elsif page.slug contains "research" %}
              {% include nav/research-sidebar.html %}
          {% elsif page.slug contains "projects" %}
              {% include nav/projects-sidebar.html %}
          {% elsif page.slug contains "teaching" %}
              {% include nav/teaching-sidebar.html %}
          {% elsif page.slug contains "media" %}
              {% include nav/media-sidebar.html %}
          {% elsif page.slug contains "resources" %}
              {% include nav/resources-sidebar.html %}
          {% elsif page.slug contains "outreach" %}
              {% include nav/outreach-sidebar.html %}
          {% endif %}
          <ul class="nav nav-sidebar">
            <li><a href="#">Back to top</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main" style="min-height:400px;">
          {{ content }}
        </div>
      </div><!-- row -->
      {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
