---
layout: with-sidebar
slug: publications/by-type
tags: [journals, proceedings, conferences, symposium, posters, abstracts, chapters, books, reports, talks, keynotes, technical reports, chronological, pdf, bibtex, doi, conference, ijcnn, ieee, springer, copyright, reinforcement learning, humanoid robot, special session, development of cognition, pre-prints, slides, source code, adaptive behaviors, behavior, epigenetic robotics, icdl, autonomous, lncs, genetic algorithms, neural networks, Marie-Curie researchers]

title: Publications
subtitle: List Grouped by Type
author: Nicolás Navarro-Guerrero
---
{% include publications.html param='intro' %}

{% include pub/list-type.html param='journal' %}
<!-- param='chapter' -->
{% include pub/list-type.html param='conference' %}
{% include pub/list-type.html param='report' %}
{% include pub/list-type.html param='abstract' %}
{% include pub/list-type.html param='talk' %}
{% include pub/list-type.html param='media' %}

{% include publications.html param='ids' %}
{% include publications.html param='copyright' %}
