---
layout: with-sidebar
slug: publications
tags: [journals, proceedings, conferences, symposium, posters, abstracts, chapters, books, reports, talks, keynotes, technical reports, chronological, pdf, bibtex, doi, conference, ijcnn, ieee, springer, copyright, reinforcement learning, humanoid robot, special session, development of cognition, pre-prints, slides, source code, adaptive behaviors, behavior, epigenetic robotics, icdl, autonomous, lncs, genetic algorithms, neural networks, Marie-Curie researchers]

title: Publications
subtitle: List Grouped by Type
author: Nicolás Navarro-Guerrero
---
{% include publications.html section='intro' %}

{% include publications.html section='journal' %}
<!-- {% include publications.html section='chapter' %} -->
{% include publications.html section='conference' %}
{% include publications.html section='report' %}
{% include publications.html section='abstract' %}
{% include publications.html section='talk' %}
{% include publications.html section='media' %}

{% include publications.html section='ids' %}
{% include publications.html section='copyright' %}
