---
layout: fullwidth
slug: publications
tags: [journals, proceedings, conferences, symposium, posters, abstracts, chapters, books, reports, talks, keynotes, technical reports, chronological, pdf, bibtex, doi, conference, ijcnn, ieee, springer, copyright, reinforcement learning, humanoid robot, special session, development of cognition, pre-prints, slides, source code, adaptive behaviors, behavior, epigenetic robotics, icdl, autonomous, lncs, genetic algorithms, neural networks, Marie-Curie researchers]

title: Publications
subtitle: List Grouped by Type
author: Nicolás Navarro-Guerrero
---
{% include publications.html section='intro' %}

{% include publications.html section='upcoming' %}
{% include publications.html section='journals' %}
<!-- {% include publications.html section='chapters' %} -->
{% include publications.html section='conferences' %}
{% include publications.html section='reports' %}
{% include publications.html section='abstracts' %}


{% include publications.html section='ids' %}
{% include publications.html section='copyright' %}
