---
layout: with-sidebar
slug: publications/chronological
tags: [publications, journals, proceedings, conferences, posters, abstracts, chapters, books, reports, talks, keynotes, technical reports, Nicolas Navarro, Nicol&aacute;s Navarro, Nicolas Navarro-Guerrero, Nicolas Navarro Guerrero, nng, github, Publications, Projects, Teaching, Courses, Thesis, Media, Videos, Outreach, About, Contact]

title: Publications
subtitle: Chronological List
author: Nicolás Navarro-Guerrero
---
{% include pub/publications-front-note.html %}

<p style="margin-top:30px;"></p>
<ul class="media-list">
  {% for papers in site.publications reversed %}
    {% if papers.categories != 'template' %}
      {% include pub/as-media.html param=papers %}
    {% endif %}
  {% endfor %}
</ul>

{% include pub/copyright.notice.html %}
