<li class="media">
  <div class="media-body">
    {% include pub/citation-style-citeulike.html param=include.param %}
  </div>
  <div class="hidden-xs media-right">
    <img class="media-object img-rounded publications-thumbs" src="{% if include.param.thumbnail != null %}{{ include.param.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" alt="">
  </div>
<!--  <p class="media-right hidden-xs"><img class="img-rounded publications-thumbs" src="{% if include.param.thumbnail != null %}{{ include.param.thumbnail }}{% else %}/assets/placeholders.svg{% endif %}" alt=""></p> -->
</li>
