<strong>{{ include.param.citation.title }}</strong><br>
{% if include.param.citation.container-title != null %}
  {{ include.param.citation.container-title }}. 
{% elsif include.param.citation.event != null %}
  Talk at {{ include.param.citation.event }}.
{% elsif include.param.citation.medium != null %}
  {{ include.param.citation.medium }}.  
{% elsif include.param.citation.publisher != null %}
  {{ include.param.citation.publisher }}.
{% endif %}

{% if include.param.citation.volume and include.param.citation.collection-title %}
  vol. {{ include.param.citation.volume }} of {{ include.param.citation.collection-title }},
{% elsif include.param.citation.volume %}
  vol. {{ include.param.citation.volume }},
{% endif %}

{% if include.param.citation.issue != null %}
  no. {{ include.param.citation.issue }},
{% endif %}
{% assign pagesnumbers = null %}
{% if include.param.citation.page %}
  {% assign pagesnumbers = include.param.citation.page %}
{% elsif include.param.citation.pages %}
  {% assign pagesnumbers = include.param.citation.pages %}
{% endif %}
{% if pagesnumbers %}
  pp. {{ pagesnumbers }},
{% endif %}
{% if include.param.citation.event-place != null %}
  {{ include.param.citation.event-place }},
{% endif %}
{% if include.param.month != null %}
  {% include 3-letters-month.html param=include.param.month %}
{% endif %}
{% if include.param.year != null %}
  {{ include.param.year }}.
{% endif %}
{% if include.param.citation.language != null %}
  Language: {{ include.param.citation.language }}.
{% endif %}
<br>
{% for authors in include.param.citation.author %}
  {{ authors.family }}, {{ authors.given }};
{% endfor %}
<br>
{% assign doicode = null %}
{% if include.param.citation.DOI %}
  {% assign doicode = include.param.citation.DOI %}
{% elsif include.param.citation.doi %}
  {% assign doicode = include.param.citation.doi %}
{% endif %}
{% if doicode %}
  <a href="http://dx.doi.org/{{ doicode }}" target="_blank"> doi</a>, 
{% endif %}

{% assign urlcode = null %}
{% if include.param.citation.URL %}
  {% assign urlcode = include.param.citation.URL %}
{% elsif include.param.citation.url %}
  {% assign urlcode = include.param.citation.url %}
{% endif %}
{% if urlcode %}
  <a href="{{ urlcode }}" target="_blank"> url</a>, 
{% endif %}

{% if include.param.rights != null %}
  {{ include.param.rights }}, 
{% endif %}
{% if include.param.file != null %}
  <a href="{{ include.param.file }}"> PDF</a>, 
{% endif %}
{% if include.param.bibtex != null %}
  <a href="{{ include.param.bibtex }}"> bibtex</a>, 
{% endif %}
{% if include.param.citation.bibtex != null %}
  key: {{ include.param.citation.bibtex }}, 
{% endif %}
{% if include.param.slides != null %}
  <a href="{{ include.param.slides }}"> slides</a>, 
{% endif %}
{% if include.param.supplementary != null %}
  <a href="{{ include.param.supplementary }}"> supplementary material</a>, 
{% endif %}
{% if include.param.code != null %}
  <a href="{{ include.param.code }}"> source code</a>, 
{% endif %}
