{% if include.param contains 'journal' %}
  {% assign header-name = 'Journals' %}
  {% assign pub-type = [include.param] %}

{% elsif include.param contains 'chapter' %}
  {% assign header-name = 'Book Chapters' %}
  {% assign pub-type = [include.param] %}

{% elsif include.param contains 'conference' %}
  {% assign header-name = 'Conferences and Workshops' %}
  {% assign pub-type = [include.param] %}

{% elsif include.param contains 'abstract' %}
  {% assign header-name = 'Abstracts and Posters' %}
  {% assign pub-type = [include.param] %}
  
{% elsif include.param contains 'thesis' or include.param contains 'report' %}
  {% assign header-name = 'Theses and Technical Reports' %}
  {% assign pub-type = [include.param, include.param] %}

{% elsif include.param contains 'talk' %}
  {% assign header-name = 'Invited Talks' %}
  {% assign pub-type = [include.param] %}

{% elsif include.param contains 'media' %}
  {% assign header-name = 'Media' %}
  {% assign pub-type = [include.param] %}
{% endif %}

<h3 class="sub-header id-header" id="{{ include.param }}">{{ header-name }}</h3>
<ul class="media-list">
  {% for papers in site.publications reversed %}
    {% unless papers.categories contains 'template' %}
      {% if papers.tags contains include.param %}
        {% include pub/as-media.html param=papers %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>
