<h3 class="sub-header id-header" id="research-ids">Research IDs</h3>
<div class="table-responsive">
<table class="table table-borderless table-sm"> 
<!--
table-striped 
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
    </tr>
  </thead>
-->
  <tbody>
    <tr>
      <th scope="row">ORCID:</th>
      <td><a href="https://orcid.org/0000-0003-1164-5579" target="_blank">0000-0003-1164-5579</a></td>
    </tr>
    <tr>
      <th scope="row">User ID Google Scholar:</th>
      <td><a href="https://scholar.google.de/citations?user=SeQvYQ0AAAAJ" target="_blank">SeQvYQ0AAAAJ</a></td>
    </tr>
<!--
    <tr>
      <th scope="row">Researcher ID ISI WoK:</th>
      <td><a href="http://www.researcherid.com/rid/B-2029-2017" target="_blank">B-2029-2017</a></td>
    </tr>
-->
  </tbody>
</table>
</div>
